body {
  background: #eee;
}

.App {
  position: relative;
  margin: 50px;
}

.dialog {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background: dodgerBlue;
}

button {
  position: relative;
  cursor: pointer;
}

.message-enter {
  opacity: 0.01;
  transform: translateX(-10px);
}
.message-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms ease-out;
}
.message-exit {
  opacity: 1;
  transform: translateX(0);
}
.message-exit-active {
  opacity: 0.01;
  transform: translateX(-10px);
  transition: all 200ms ease-out;
}
